<div class="survey-answer-mcq widget">
  <% if can? :edit, :survey %>
    <p>edit</p>
  <% end %>
  <% question.required ? required = "required" : required = "" %>
  <p class="text-warning"><%= "*required" if question.required %></p>
  <% if question.type == "MultipleChoice" %>
    <% question.options.each do |option| %>
      <label class="radio">
        <input type="radio" name="options[<%= question.id %>]" value="<%= option.id %>" <%= required %>><%= option.choice %>
      </label>
    <%end%>
  <% else %>
    <input type="text" name="answers[<%= question.id %>]" <%= required %>>
  <%end%>
</div>
