<style type="text/css">
body  {
  background-color: #ebebeb;
}
</style>

<div class="survey container form-effects">
  <div class="row">
    <form class="span8 offset2" action="/survey/create" method="post">
      <div class="form-horizontal">
        <%= erb :_survey_head, :layout => false %>
        <div class="widget-container"></div>
        <div class="control-group"><div class="controls"><button class="btn btn-inverse" id="add_question" type="button">Add a question</button></div></div>
        <div class="controls"><input class="btn btn-primary" id="survey-submit" type="submit" value="Create Survey"></div>
      </div>
    </form>
  </div>
</div>

<div style="height: 300px"></div>
<div id="survey-inventory">
  <%= erb :_survey_question_mcq, :layout => false %>  
  <%= erb :_survey_question_mcq_q, :layout => false %>
  <%= erb :_survey_question_mcq_choices, :layout => false %>
  <%= erb :_survey_question_tq_choices, :layout => false %> 
</div>
