<div class="survey">
  <form action="/survey/create" method="post">
    <%= erb :_survey_head, :layout => false %>
    <div class="widget-container"></div>
      <button type="button" id="add_question" href="#">Add a question</button></br></br>
      <input id="survey-submit" type="submit" value="Create Form" />
  </form>
</div>


<div id="survey-inventory">
  <%= erb :_survey_question_mcq, :layout => false %>  
  <%= erb :_survey_question_mcq_q, :layout => false %>
    <%= erb :_survey_question_mcq_choices, :layout => false %>
  <%= erb :_survey_question_tq_choices, :layout => false %> 
</div>
