<style type="text/css">
body  {
  background-color: #ebebeb;
}
.view-form {
  padding-top: 50px;
  background-color: #FFF;
  margin-bottom: 100px;
  border-radius: 10px;
}

</style>

<div class="container">
<div class="row form-effects view-form span10 offset1">
    <form class="span7 offset1" action="/view/<%= @survey.token %>" method='POST'>
    <div class="widget-container">
      <div class="survey-title">
        <h2><%= @survey.title %> </h2>
        <p><%= @survey.description %></p></br>
      </div>
        <%@questions.each do |question|%>
        <h4><%= "#{question.position}. #{question.title}" %></h4>
        <p><%= "#{question.help_text}"%></p>
        <% if @completed %>
          <%= partial(:_survey_answer_completed, question: question) %>
        <% else %>
          <%= partial(:_survey_answer, question: question) %>
        <% end %>
        <br><br>
      <% end %>
      <% unless @completed %>
        <input class="btn btn-primary offset5" type='submit' value='Done'/>
      <% end %>
    </div>
  </form>
</div>
</div>

